/* Extend styles */
/* line 50, ../sass/_base.scss */
.commons-sign-up,
.pane-commons-groups-commons-groups-create-group a,
#quicktabs-container-commons_bw .quicktabs-tabpage .attachment-before > a,
#quicktabs-container-commons_bw .quicktabs-tabpage .comment-add a,
#content-column .view-content input[type="submit"],
form.commons-events-form-float input,
form.commons-events-form-float input:hover,
.pane-commons-events-commons-events-create-event-link a {
  box-shadow: 1px 1px 1px #f8a02b inset, 0 3px 3px rgba(0, 0, 0, 0.09);
  padding: 0 10px;
  background-color: #f37c30;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF4B751', endColorstr='#FFC83F32');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4b751), color-stop(12%, #f8a02b), color-stop(33%, #f37c30), color-stop(100%, #c83f32));
  background-image: -webkit-linear-gradient(top, #f4b751 0%, #f8a02b 12%, #f37c30 33%, #c83f32 100%);
  background-image: -moz-linear-gradient(top, #f4b751 0%, #f8a02b 12%, #f37c30 33%, #c83f32 100%);
  background-image: -o-linear-gradient(top, #f4b751 0%, #f8a02b 12%, #f37c30 33%, #c83f32 100%);
  background-image: linear-gradient(top, #f4b751 0%, #f8a02b 12%, #f37c30 33%, #c83f32 100%);
  border: 1px solid #c83f32;
  text-align: center;
  display: inline-block;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.49);
}
/* line 62, ../sass/_base.scss */
.commons-sign-up:hover,
.pane-commons-groups-commons-groups-create-group a:hover,
#quicktabs-container-commons_bw .quicktabs-tabpage .attachment-before > a:hover,
#quicktabs-container-commons_bw .quicktabs-tabpage .comment-add a:hover,
#content-column .view-content input[type="submit"]:hover,
form.commons-events-form-float input:hover,
.pane-commons-events-commons-events-create-event-link a:hover {
  text-decoration: none;
}

/* line 67, ../sass/_base.scss */
.panel-style {
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #a5a5a5 1px 1px 4px;
  -moz-box-shadow: #a5a5a5 1px 1px 4px;
  box-shadow: #a5a5a5 1px 1px 4px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 74, ../sass/_base.scss */
.lt480 .panel-style {
  margin-right: 0;
}

/* line 79, ../sass/_base.scss */
.panel-style .block-inner {
  padding: 10px 10px 20px 10px;
}

/* line 354, icons/*.png */
.icons-sprite {
  background: url('/images/icons-s661aa5a4ee.png') no-repeat;
}

/* line 4, ../sass/lambeth-global.scss */
#page {
  margin-top: -102px;
}

/*
 * H1 Node title
 */
/* line 11, ../sass/lambeth-global.scss */
#page-title {
  margin-bottom: 10px;
}

/* line 15, ../sass/lambeth-global.scss */
h1.node-title {
  color: #f37c30;
  font-size: 20px;
}
/* line 18, ../sass/lambeth-global.scss */
h1.node-title a {
  text-decoration: none;
  color: #f37c30;
}
/* line 21, ../sass/lambeth-global.scss */
h1.node-title a:hover {
  text-decoration: underline;
}

/* line 27, ../sass/lambeth-global.scss */
h2 {
  color: #f37c30;
  text-transform: uppercase;
}

/* line 32, ../sass/lambeth-global.scss */
html {
  background: #e6e6e6;
}

/* line 36, ../sass/lambeth-global.scss */
body {
  font-size: 87.5%;
  color: #333333;
}

/*
 * Wraps all header elements - branding and .region-header
 */
/* line 44, ../sass/lambeth-global.scss */
#header {
  height: 95px;
  color: white;
}

/* line 50, ../sass/lambeth-global.scss */
.header-color-row-one {
  height: 74px;
  background-color: #e7e2dc;
  border-top: 4px solid #ddd5cd;
}
/* line 55, ../sass/lambeth-global.scss */
.boxshadow .header-color-row-one {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 60, ../sass/lambeth-global.scss */
.header-color-row-two {
  background-color: white;
  height: 26px;
  border-top: 1px solid #fcfbfa;
  border-bottom: 1px solid #d2c9be;
}

/* =============================================================================
 *   Branding
 * ========================================================================== */
/*
 * Wraps all the branding elements, logo, name and slogan
 */
/* line 74, ../sass/lambeth-global.scss */
#branding {
  float: left;
  vertical-align: top;
  width: 300px;
}

/*
 * Logo
 */
/* line 85, ../sass/lambeth-global.scss */
#logo {
  display: inline-block;
  padding: 6px 10px 0 0;
}
/* line 89, ../sass/lambeth-global.scss */
#logo img {
  vertical-align: bottom;
}

/*
 * Header region, embedded in the #header
 */
/* line 97, ../sass/lambeth-global.scss */
.region-header {
  float: left;
  height: 64px;
  width: 270px;
}

/* =============================================================================
 *   Links
 * ========================================================================== */
/* line 108, ../sass/lambeth-global.scss */
a {
  text-decoration: none;
  color: #f8a02b;
}
/* line 119, ../sass/lambeth-global.scss */
a:hover, a:focus {
  text-decoration: underline;
}

/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */
/* line 128, ../sass/lambeth-global.scss */
#primary-menu-bar {
  display: inline-block;
}

/*
 * Use one of the following id's for granular control:
 *  - #menu-bar (menu bar region)
 *  - #primary-menu (main menu)
 *  - #secondary-menu (secondary/user menu)
 * You can target all of these with .nav or div[id$="menu-bar"]
 */
/* line 140, ../sass/lambeth-global.scss */
#menu-bar.nav {
  float: left;
  vertical-align: top;
  margin: 0;
  border-color: #efeae4;
  -webkit-box-shadow: #efeae4 -1px 0px 0px;
  -moz-box-shadow: #efeae4 -1px 0px 0px;
  box-shadow: #efeae4 -1px 0px 0px;
}
/* line 149, ../sass/lambeth-global.scss */
#menu-bar.nav ul,
#menu-bar.nav ul.menu {
  margin: 0;
  padding: 0;
}
/* line 155, ../sass/lambeth-global.scss */
#menu-bar.nav li,
#menu-bar.nav ul.menu li {
  display: inline-block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 162, ../sass/lambeth-global.scss */
#menu-bar.nav li:hover, #menu-bar.nav li.active-trail,
#menu-bar.nav ul.menu li:hover,
#menu-bar.nav ul.menu li.active-trail {
  background: none;
}
/* line 165, ../sass/lambeth-global.scss */
#menu-bar.nav li:hover .arrow:before, #menu-bar.nav li.active-trail .arrow:before,
#menu-bar.nav ul.menu li:hover .arrow:before,
#menu-bar.nav ul.menu li.active-trail .arrow:before {
  border-color: transparent transparent white transparent;
}
/* line 169, ../sass/lambeth-global.scss */
#menu-bar.nav li:hover .arrow:after, #menu-bar.nav li.active-trail .arrow:after,
#menu-bar.nav ul.menu li:hover .arrow:after,
#menu-bar.nav ul.menu li.active-trail .arrow:after {
  border-color: transparent transparent white transparent;
}
/* line 176, ../sass/lambeth-global.scss */
#menu-bar.nav li a,
#menu-bar.nav ul.menu li a {
  display: block;
  white-space: nowrap;
  padding: 45px 13px 0px 13px;
  height: 28px;
  text-transform: uppercase;
  background-position: center 6px;
  background-repeat: no-repeat;
  position: relative;
  text-shadow: none;
  border-left: 1px solid #efeae4;
  box-shadow: none;
  -webkit-box-shadow: #efeae4 -1px 0px 0px;
  -moz-box-shadow: #efeae4 -1px 0px 0px;
  box-shadow: #efeae4 -1px 0px 0px;
}
/* line 191, ../sass/lambeth-global.scss */
#menu-bar.nav li a:hover, #menu-bar.nav li a:focus,
#menu-bar.nav ul.menu li a:hover,
#menu-bar.nav ul.menu li a:focus {
  text-decoration: none;
}
/* line 194, ../sass/lambeth-global.scss */
#menu-bar.nav li a.active,
#menu-bar.nav ul.menu li a.active {
  color: #f8a02b;
}
/* line 197, ../sass/lambeth-global.scss */
#menu-bar.nav li a .arrow,
#menu-bar.nav ul.menu li a .arrow {
  width: 17px;
  height: 9px;
  position: absolute;
  left: 50%;
  bottom: -1px;
  margin: 0 0 0 -8px;
}
/* line 207, ../sass/lambeth-global.scss */
#menu-bar.nav .block {
  margin: 0;
}
/* line 211, ../sass/lambeth-global.scss */
#menu-bar.nav .main-menu-home a {
  background: url(../images/icons/mil-icon-home-inactive.png) no-repeat center 6px;
}
/* line 214, ../sass/lambeth-global.scss */
#menu-bar.nav .main-menu-home a:hover, #menu-bar.nav .main-menu-home a.active-trail {
  background: url(../images/icons/mil-icon-home.png) no-repeat center 6px;
}
/* line 219, ../sass/lambeth-global.scss */
#menu-bar.nav .main-menu-projects a {
  background: url(../images/icons/mil-icon-groups-inactive.png) no-repeat center 6px;
}
/* line 222, ../sass/lambeth-global.scss */
#menu-bar.nav .main-menu-projects a:hover, #menu-bar.nav .main-menu-projects a.active-trail {
  background: url(../images/icons/mil-icon-groups.png) no-repeat center 6px;
}
/* line 227, ../sass/lambeth-global.scss */
#menu-bar.nav .main-menu-events a {
  background: url(../images/icons/mil-icon-events-inactive.png) no-repeat center 6px;
}
/* line 230, ../sass/lambeth-global.scss */
#menu-bar.nav .main-menu-events a:hover, #menu-bar.nav .main-menu-events a.active-trail {
  background: url(../images/icons/mil-icon-events.png) no-repeat center 6px;
}
/* line 235, ../sass/lambeth-global.scss */
#menu-bar.nav .main-menu-node- a {
  background: url(../images/icons/mil-icon-impact-inactive.png) no-repeat center 6px;
}
/* line 238, ../sass/lambeth-global.scss */
#menu-bar.nav .main-menu-node- a:hover, #menu-bar.nav .main-menu-node- a.active-trail {
  background: url(../images/icons/mil-icon-impact.png) no-repeat center 6px;
}

/* line 244, ../sass/lambeth-global.scss */
.selectBox-dropdown {
  color: #f37c30;
}

/* =============================================================================
 *   Quicktab Pills
 * ========================================================================== */
/* line 252, ../sass/lambeth-global.scss */
.quicktabs-style-commons-pills ul.quicktabs-tabs li.active a {
  background-color: #f37c30;
}

/* line 256, ../sass/lambeth-global.scss */
.quicktabs-style-commons-pills ul.quicktabs-tabs li.active a::after {
  border-color: #f37c30 transparent transparent transparent;
}

/* line 260, ../sass/lambeth-global.scss */
ul.primary.tabs li.active a, ul.primary.tabs li.active a:hover {
  background-color: #f37c30;
}

/* line 264, ../sass/lambeth-global.scss */
ul.primary.tabs li a:hover {
  background-color: #f37c30;
  color: #FFF;
}

/*
 * "Search form" block
 */
/* line 272, ../sass/lambeth-global.scss */
.block-search {
  display: block;
  background-color: #F37C30;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF37C30', endColorstr='#FFC3443D');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3443d), color-stop(19%, #f37c30), color-stop(27%, #e09127), color-stop(100%, #f8a02b));
  background-image: -webkit-linear-gradient(top, #c3443d 0%, #f37c30 19%, #e09127 27%, #f8a02b 100%);
  background-image: -moz-linear-gradient(top, #c3443d 0%, #f37c30 19%, #e09127 27%, #f8a02b 100%);
  background-image: -o-linear-gradient(top, #c3443d 0%, #f37c30 19%, #e09127 27%, #f8a02b 100%);
  background-image: linear-gradient(top, #c3443d 0%, #f37c30 19%, #e09127 27%, #f8a02b 100%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #f37c30 inset, 2px 3px 3px rgba(255, 255, 255, 0.09);
  height: 30px;
  margin: 0 0 0 10px;
  position: relative;
}
/* line 284, ../sass/lambeth-global.scss */
.block-search .block-inner {
  margin-left: 0;
  margin-right: 0;
}
/* line 298, ../sass/lambeth-global.scss */
.block-search .form-text {
  color: white;
  background: transparent;
  border: none;
  margin: 3px 0 0 0;
}
/* line 305, ../sass/lambeth-global.scss */
.block-search .form-submit {
  background-color: transparent !important;
  border: none !important;
  width: 12px !important;
  height: 12px !important;
  text-indent: -9999px !important;
  padding: 0 !important;
  margin: 10px 2px !important;
}
/* line 315, ../sass/lambeth-global.scss */
.block-search .form-item-search-block-form label {
  position: absolute;
  left: 0px;
  top: -17px;
  color: #bbddf1;
  font-size: 11px;
  line-height: 11px;
  font-weight: normal;
  display: block;
}

/* line 327, ../sass/lambeth-global.scss */
#header a {
  color: #f37c30;
}

/* line 331, ../sass/lambeth-global.scss */
body.front.not-logged-in #block-system-main .region-conditional-stack .panel-pane {
  width: 50%;
}

/* line 335, ../sass/lambeth-global.scss */
body.front.not-logged-in #block-system-main .pane-1 {
  float: none;
  width: auto;
}

/* line 340, ../sass/lambeth-global.scss */
body.front.not-logged-in #block-system-main .pane-1 .pane-title {
  font-weight: normal;
  font-size: 20px;
  color: #666;
}

/* line 346, ../sass/lambeth-global.scss */
.block-search .selectBox-dropdown .selectBox-label {
  color: #FFF;
}

/* Custom pane style */
/* line 357, ../sass/lambeth-global.scss */
.panel-style h2 {
  font-size: 20px;
  color: #666666;
}

/* line 363, ../sass/lambeth-global.scss */
#panels-ipe-regionid-two_66_33_first .panel-style {
  margin-left: 10px;
  margin-right: 30px;
}

/* Update button sty;es */
/* line 382, ../sass/lambeth-global.scss */
.front.not-logged-in #content {
  background: none;
}
