/* Extend styles */
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* line 15, ../sass/responsive.desktop.scss */
#branding {
  float: left;
  width: 300px;
}

/* line 20, ../sass/responsive.desktop.scss */
.header-color-row-one {
  background-color: #e7e2dc;
}

/* line 24, ../sass/responsive.desktop.scss */
.header-color-row-two {
  background-color: white;
}

/* line 28, ../sass/responsive.desktop.scss */
#menu-bar.nav {
  float: left;
  margin-top: 0;
}
